<ul class="nav nav-tabs">
  <li > <%= link_to "Show", budget_items_path %></li>
  <li class="active"><%= link_to "New", new_budget_item_path %></li>
  <li><%= link_to "Delete" %></li>
  <div class="panel panel-default">
    <div align="right" class="panel-heading">Expense Manager</div>
      <div class="panel-body">
        <div class="well" align="center" style="font-size:35px"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Monthly Budget</div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Add your monthly budget</strong>
          </div>
          
          <div class="panel-body">
          <p>Enter the amount of money you want to spend by your <%= link_to "active categories", categories_customize_path %>. If you don't want to spend money in some category, leave the field blank.<br/>
          <strong>Note:</strong> On the first in 10:00 AM of every month, the budget of the previous month will be coppied to the next if you didn't defined your own.</p>
          <%= form_tag budget_items_create_budget_path, method: :post do %>
            <div class="date" data-behaviour="datepicker1">
              <%= label_tag "Month" %>
              <%= text_field_tag 'budget_date', Date.today.at_beginning_of_month, class: "form-control"%><p class="input-group-addon"></p>
            </div>
            <% @categories2.each do | cat | %>
              <%= label_tag cat.id, cat.name %> 
              <%= text_field_tag 'budget_items[][value]', nil, class: 'form-control', id: "#{cat.id}" %>
              <%= hidden_field_tag 'budget_items[][category_id]', cat.id %>
            <% end %><br/>
            <%= submit_tag("Submit", class: "btn btn-primary") %>
          <% end %>
        </div> 

        </div>
      </div>
    </div>
  </div>
</ul>