<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Expense manager</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-5">
				    <div class="row"><br/>
					    <div class="thumbnail">
							<div class="panel panel-default">
								<div align="right" class="panel-heading">Expense Manager
								</div>
						  		<div class="panel-body">
							  		<legend>Resend unlock instructions</legend> 
							          
									<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
							  		<%= devise_error_messages! %>

									<div><%= f.label :email %><br />
										 <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "E-mail address" %>
									</div><br/>
									
									<button type="submit" class="btn btn-primary">Resend unlock instructions</button>
									<% end %>
									<%= render "devise/shared/links" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>