<%= form_for @expense, {role: "form"} do |f| %>
  <div class="form-group">
    <%= f.hidden_field :outcome, value: true %>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
    <%= f.label :expense_value, "Amount" %>
    <%= f.text_field :expense_value, class: "form-control", placeholder: "How much?"  %>
    <div class="date" data-behaviour="datepicker">
      <%= f.label :date, "Date" %>
      <%= f.text_field :date, value: Date.today, class: "form-control"%><p class="input-group-addon"></p>
    </div>
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select(:category_id, Category.active_outcome, :id, :name,  {prompt: "Select a category"}, {class: "form-control"}) %>
    
    <%= f.label :location_id, "Location" %><br/>
    <%= f.hidden_field :location_id, {class: "form-control"} %><br/>

    <%= f.label :bill_id, "Upload photo" %><br/>
    <%= f.file_field :bill, {class: "form-control"}%>
  </div>
  <center><button type="submit" class="btn btn-primary">Add expense</button></center>
<% end %><br/>