<ul class="nav nav-tabs">
  <li> <%= link_to "Show", expense_path(@expense) %></li>
  <li class="active"><%= link_to "Edit", edit_expense_path(@expense) %></li>
  <li><%= link_to "Delete", expense_path(@expense), method: "delete", data: {confirm: 'Are you sure?'} %></li>
  <div class="panel panel-default">
    <div align="right" class="panel-heading">Expense Manager</div>
      <div class="panel-body">
        <%= form_for @expense, {role: "form"} do |f| %> 
        <legend>Edit expense</legend>     
        <div class="form-group">
          <%= f.label :description, "Description" %>
          <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
          <%= f.label :expense_value, "Amount" %>
          <%= f.text_field :expense_value, class: "form-control", placeholder: "How much?"  %>
          <div class="date" data-behaviour="datepicker">
          <%= f.label :date, "Date" %>
          <%= f.text_field :date, value: Date.today, class: "form-control" %><p class="input-group-addon"></p>
          </div>
          <%= f.label :location, "Location" %>
          <%= f.collection_select(:location_id, Location.all, :id, :name, {}, {class: "form-control"}) %>
          <% if @expense.category.outcome == true %>
            <%= f.label :category_id, "Category" %>
            <%= f.collection_select(:category_id, Category.where(active: true, outcome: true), :id, :name,  {prompt: "Select a category"}, {class: "form-control"}) %>
          <% elsif @expense.category.outcome == false %>
            <%= f.label :category_id, "Category" %>
            <%= f.collection_select(:category_id, Category.where(active: true, outcome: false), :id, :name,  {prompt: "Select a category"}, {class: "form-control"}) %>
          <% end %>
          <%= f.label :bill_id, "Upload photo" %><br/>
          <%= f.file_field :bill, {class: "form-control"}%>
        </div>
        <button type="submit" method="patch" class="btn btn-primary">Save changes</button>
        <% end %>
      </div>
    </div>
  </div>
</ul>