<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Expense manager</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading"><strong>Statistics</strong></div>
              <div class="panel-body">
              <center>
                <%= content_tag :div, "", id: "expenses-chart2", data: {expenses: expenses_chart_data2} %>
                <br/>
                <span class="label label-info" style="font-size: 12px">Month</span>&nbsp;&nbsp; <strong>
                  <%= @date2 %>
                </strong>&nbsp;&nbsp;&nbsp; 
                <span class="label label-info" style="font-size: 12px">Total expenses</span>&nbsp;&nbsp;  
                <strong>
                  <%= number_with_precision(@total, :precision => 2, :delimiter => ',') %> €
                </strong>&nbsp;&nbsp;&nbsp; 
                <span class="label label-info" style="font-size: 12px">
                  Max. expense
                </span>&nbsp;&nbsp;   
                <strong>
                  <%= number_with_precision(@max, :precision => 2, :delimiter => ',') %> €
                </strong>
                <br/>
              </center>
              <br/>
                <div class="panel panel-primary">
                  <div class="panel-heading"><strong>Budget</strong></div>
                    <table class="table" align="center">
                    <tr>
                      <td>
                        <strong>Budget</strong>
                      </td>
                      <td>
                        <%= number_with_precision(@budget, :precision => 2, :delimiter => ',') %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Incomes & Outcomes</strong>
                      </td>
                      <td>
                        <%= number_with_precision(@saldo, :precision => 2, :delimiter => ',') %>
                      </td>
                    </tr>
                    <tr><td><center><%= content_tag :div, "", id: "income_chart" %><br/></center></td></tr>
                    <tr>
                      <td>
                        Today's income
                      </td>
                      <td>
                        <%= number_with_precision(@income_today, :precision => 2, :delimiter => ',') %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Today's outcome
                      </td>
                      <td>
                        <%= number_with_precision(@outcome_today, :precision => 2, :delimiter => ',') %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Today's total</strong>
                      </td>
                      <td>
                        <strong><%= number_with_precision(@total_today, :precision => 2, :delimiter => ',') %></strong>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Budget daily expenses
                      </td>
                      <td>
                        <%= number_with_precision(@rec_today, :precision => 2, :delimiter => ',') %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Wallet</strong>
                      </td>
                      <td>
                        <strong><%= number_with_precision(@money_left, :precision => 2, :delimiter => ',') %></strong>
                      </td>
                    </tr>
                    </table>
                    <%= javascript_tag do %>
                      window.expensesURL = "<%= expenses_url %>";
                      window.expenses = <%=raw @income.to_json %>
                    <% end %>

                </div>
                <div class="panel panel-danger">
                  <div class="panel-heading">Your top 3 EM categories</div>
                  <div class="panel-body">
                    <p>In this month, you've spent most of your money on:</p>
                  </div>
                  <table class="table" align="center">
                    <% @categories[0..2].each do |c| %>
                    <tr>
                      <td>
                        <%= c.name %>
                      </td> 
                      <td>
                        <strong><%= number_with_precision(count_exps(c.id), :precision => 2, :delimiter => ',') %> €</strong>
                      </td>
                    </tr>
                    <% end %>
                  </table>
                  <center><%= content_tag :div, "", id: "categs_chart", data: {eexpenses: expenses_by_category_chart} %><br/>
                <span class="label label-info" style="font-size: 12px">Average daily expense</span>&nbsp;&nbsp; <strong>
                  <%= number_with_precision(@avg_exp, :precision => 2, :delimiter => ',') %> €
                </strong>&nbsp;&nbsp;&nbsp;</center><br/>
                </div>
                <div class="panel panel-success">
                <div class="panel-heading">Last 7 days</div>
                <div class="panel-body">
                <p>In this seven days, you've spent most of your money on:</p>
                <table class="table" align="center">
                  <% @week_list[0..2].each do |c| %>
                  <tr>
                    <td>
                      <%= c.name %>
                    </td> 
                    <td>
                      <strong><%= number_with_precision(count_exps_week(c.id), :precision => 2, :delimiter => ',') %> €</strong>
                    </td>
                  </tr>
                  <% end %>
                </table>
                <center><%= content_tag :div, "", id: "expenses-chart-week", data: {expensesw: expenses_chart_data_week} %><br/>
                <span class="label label-info" style="font-size: 12px">Average daily expense</span>&nbsp;&nbsp; <strong>
                  <%= number_with_precision(@avg_exp_week, :precision => 2, :delimiter => ',') %> €
                </strong>&nbsp;&nbsp;&nbsp;</center><br/>
                </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>